<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home 02</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/user/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/user/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/user/fonts/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/user/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/user/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/user/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/user/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/user/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/user/vendor/slick/slick.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/user/vendor/MagnificPopup/magnific-popup.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/user/vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/user/css/main.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--===============================================================================================-->
  </head>
  <body class="animsition">
    <!-- Header -->
    <header class="header-v2">
      <!-- Header desktop -->
      <div class="container-menu-desktop trans-03">
        <div class="wrap-menu-desktop">
          <nav class="limiter-menu-desktop p-l-45">
            <!-- Logo desktop -->
            <a href="/#" class="logo">
              <img src="/images/icon.png" alt="IMG-LOGO" />
            </a>

            <!-- Menu desktop -->
            <div class="menu-desktop">
              <ul class="main-menu">
                <li class="active-menu">
                  <a href="/index.html">Home</a>
                  <ul class="sub-menu">
                    <li><a href="/index.html">Homepage 1</a></li>
                    <li><a href="/home-02.html">Homepage 2</a></li>
                    <li><a href="/home-03.html">Homepage 3</a></li>
                  </ul>
                </li>

                <li>
                  <a href="/product.html">Shop</a>
                </li>

                <li class="label1" data-label1="hot">
                  <a href="/shoping-cart.html">Features</a>
                </li>

                <li>
                  <a href="/blog.html">Blog</a>
                </li>

                <li>
                  <a href="/about.html">About</a>
                </li>

                <li>
                  <a href="/contact.html">Contact</a>
                </li>
              </ul>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m h-full">
              <div class="flex-c-m h-full p-r-24">
                <div
                  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search"
                >
                  <i class="zmdi zmdi-search"></i>
                </div>
              </div>

              <div class="flex-c-m h-full p-l-18 p-r-25 bor5">
                <a
                  href="#"
                  class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
                  data-notify="<%=
                  locals.cartList?(cartList.length):(locals.cartItems?cartItems.length:0);
                  %>"
                >
                  <i class="zmdi zmdi-favorite-outline"></i>
                </a>
              </div>
              <div class="flex-c-m h-full p-l-18 p-r-25 bor5">
                <div
                  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart"
                  id="cartvalue"
                  data-notify=" <%=
                  locals.cartList?(cartList.length):(locals.cartItems?cartItems.length:0);
                  %>"
                >
                  <i class="zmdi zmdi-shopping-cart"></i>
                </div>
              </div>

              <div class="flex-c-m h-full p-lr-19">
                <div
                  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-sidebar"
                >
                  <i class="zmdi zmdi-menu"></i>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <!-- Header Mobile -->
      <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
          <a href="/index.html"
            ><img src="/images/icon.png" alt="IMG-LOGO"
          /></a>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
          <div class="flex-c-m h-full p-r-10">
            <div
              class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search"
            >
              <i class="zmdi zmdi-search"></i>
            </div>
          </div>

          <div class="flex-c-m h-full p-lr-10 bor5">
            <div
              class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart"
              id="cartvalue"
              data-notify=" <%=
                  locals.cartList?(cartList.length):(locals.cartItems?cartItems.length:0);
                  %>"
            >
              <i class="zmdi zmdi-shopping-cart"></i>
            </div>
          </div>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </div>
      </div>

      <!-- Menu Mobile -->
      <div class="menu-mobile">
        <ul class="main-menu-m">
          <li>
            <a href="/index.html">Home</a>
            <ul class="sub-menu-m">
              <li><a href="/index.html">Homepage 1</a></li>
              <li><a href="/home-02.html">Homepage 2</a></li>
              <li><a href="/home-03.html">Homepage 3</a></li>
            </ul>
            <span class="arrow-main-menu-m">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
          </li>

          <li>
            <a href="/product.html">Shop</a>
          </li>

          <li>
            <a href="/shoping-cart.html" class="label1 rs1" data-label1="hot"
              >Features</a
            >
          </li>

          <li>
            <a href="/blog.html">Blog</a>
          </li>

          <li>
            <a href="/about.html">About</a>
          </li>

          <li>
            <a href="/contact.html">Contact</a>
          </li>
        </ul>
      </div>

      <!-- Modal Search -->
      <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">
          <button
            class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search"
          >
            <img src="/images/icons/icon-close2.png" alt="CLOSE" />
          </button>

          <form class="wrap-search-header flex-w p-l-15">
            <button class="flex-c-m trans-04">
              <i class="zmdi zmdi-search"></i>
            </button>
            <input
              class="plh3"
              type="text"
              name="search"
              placeholder="Search..."
            />
          </form>
        </div>
      </div>
    </header>

    <!-- Sidebar -->
    <aside class="wrap-sidebar js-sidebar">
      <div class="s-full js-hide-sidebar"></div>

      <div class="sidebar flex-col-l p-t-22 p-b-25">
        <div class="flex-r w-full p-b-30 p-r-27">
          <div
            class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-sidebar"
          >
            <i class="zmdi zmdi-close"></i>
          </div>
        </div>

        <div class="sidebar-content flex-w w-full p-lr-65 js-pscroll">
          <ul class="sidebar-link w-full">
            <li class="p-b-13">
              <a href="/" class="stext-102 cl2 hov-cl1 trans-04"> Home </a>
            </li>

            <li class="p-b-13">
              <a href="/#" class="stext-102 cl2 hov-cl1 trans-04">
                My Wishlist
              </a>
            </li>
            <% if(locals.loggedin){ %>
            <li class="p-b-13">
              <a href="/profie" class="stext-102 cl2 hov-cl1 trans-04">
                My Account
              </a>
            </li>

            <li class="p-b-13">
              <a href="/orders" class="stext-102 cl2 hov-cl1 trans-04">
                Oders List
              </a>
            </li>

            <li class="p-b-13">
              <a href="/helpfaqs" class="stext-102 cl2 hov-cl1 trans-04">
                Help & FAQs
              </a>
            </li>
            <li class="p-b-13">
              <a href="/logout" class="stext-102 cl2 hov-cl1 trans-04">
                Logout
              </a>
            </li>
            <% } else{ %>
            <li class="p-b-13">
              <a href="/login" class="stext-102 cl2 hov-cl1 trans-04">
                Login
              </a>
            </li>
            <li class="p-b-13">
              <a href="/signup" class="stext-102 cl2 hov-cl1 trans-04">
                Sign UP
              </a>
            </li>
            <% } %>
          </ul>

          <div class="sidebar-gallery w-full">
            <span class="mtext-101 cl5"> About Us </span>

            <p class="stext-108 cl6 p-t-27">Fillik.com</p>
          </div>
        </div>
      </div>
    </aside>
  </body>
</html>
