<!-- Footer -->

<footer class="bg3 p-t-75 p-b-32">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">Categories</h4>

        <ul>
          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Women </a>
          </li>

          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Men </a>
          </li>

          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Shoes </a>
          </li>

          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Watches </a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">Help</h4>

        <ul>
          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Track Order </a>
          </li>

          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Returns </a>
          </li>

          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Shipping </a>
          </li>

          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> FAQs </a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">GET IN TOUCH</h4>

        <p class="stext-107 cl7 size-201">
          Any questions? Let us know in store at 8th floor, 379 Hudson St, New
          York, NY 10018 or call us on (+1) 96 716 6879
        </p>

        <div class="p-t-27">
          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-facebook"></i>
          </a>

          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-instagram"></i>
          </a>

          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-pinterest-p"></i>
          </a>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">Newsletter</h4>

        <form>
          <div class="wrap-input1 w-full p-b-4">
            <input
              class="input1 bg-none plh1 stext-107 cl7"
              type="text"
              name="email"
              placeholder="email@example.com"
            />
            <div class="focus-input1 trans-04"></div>
          </div>

          <div class="p-t-18">
            <button
              class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04"
            >
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="p-t-40">
      <div class="flex-c-m flex-w p-b-18">
        <a href="#" class="m-all-1">
          <img src="/images/icons/icon-pay-01.png" alt="ICON-PAY" />
        </a>

        <a href="#" class="m-all-1">
          <img src="/images/icons/icon-pay-02.png" alt="ICON-PAY" />
        </a>

        <a href="#" class="m-all-1">
          <img src="/images/icons/icon-pay-03.png" alt="ICON-PAY" />
        </a>

        <a href="#" class="m-all-1">
          <img src="/images/icons/icon-pay-04.png" alt="ICON-PAY" />
        </a>

        <a href="#" class="m-all-1">
          <img src="/images/icons/icon-pay-05.png" alt="ICON-PAY" />
        </a>
      </div>

      <p class="stext-107 cl6 txt-center">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved | Made with
        <i class="fa fa-heart-o" aria-hidden="true"></i> by
        <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp;
        distributed by
        <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
  <span class="symbol-btn-back-to-top">
    <i class="zmdi zmdi-chevron-up"></i>
  </span>
</div>

<!--===============================================================================================-->
<script src="/user/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/user/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/user/vendor/bootstrap/js/popper.js"></script>
<script src="/user/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/user/vendor/select2/select2.min.js"></script>
<script>
  $(".js-select2").each(function () {
    $(this).select2({
      minimumResultsForSearch: 20,
      dropdownParent: $(this).next(".dropDownSelect2"),
    });
  });
</script>
<!--===============================================================================================-->
<script src="/user/vendor/daterangepicker/moment.min.js"></script>
<script src="/user/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/user/vendor/slick/slick.min.js"></script>
<script src="/user/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="/user/vendor/parallax100/parallax100.js"></script>
<script>
  $(".parallax100").parallax100();
</script>
<!--===============================================================================================-->
<script src="/user/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
  $(".gallery-lb").each(function () {
    // the containers for all your galleries
    $(this).magnificPopup({
      delegate: "a", // the selector for gallery item
      type: "image",
      gallery: {
        enabled: true,
      },
      mainClass: "mfp-fade",
    });
  });
</script>
<!--===============================================================================================-->
<script src="/user/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="/user/vendor/sweetalert/sweetalert.min.js"></script>
<script>
  $(".js-addwish-b2").on("click", function (e) {
    e.preventDefault();
  });

  $(".js-addwish-b2").each(function () {
    var nameProduct = $(this).parent().parent().find(".js-name-b2").html();
    $(this).on("click", function () {
      swal(nameProduct, "is added to wishlist !", "success");

      $(this).addClass("js-addedwish-b2");
      $(this).off("click");
    });
  });

  $(".js-addwish-detail").each(function () {
    var nameProduct = $(this)
      .parent()
      .parent()
      .parent()
      .find(".js-name-detail")
      .html();

    $(this).on("click", function () {
      swal(nameProduct, "is added to wishlist !", "success");

      $(this).addClass("js-addedwish-detail");
      $(this).off("click");
    });
  });

  /*---------------------------------------------*/

  $(".js-addcart-detail").each(function () {
    var nameProduct = $(this)
      .parent()
      .parent()
      .parent()
      .parent()
      .find(".js-name-detail")
      .html();
    console.log(nameProduct);
    $(this).on("click", function () {
      swal(nameProduct, "is added to cart !", "success");
    });
  });
</script>
<!--===============================================================================================-->
<script src="/user/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
  $(".js-pscroll").each(function () {
    $(this).css("position", "relative");
    $(this).css("overflow", "hidden");
    var ps = new PerfectScrollbar(this, {
      wheelSpeed: 1,
      scrollingThreshold: 1000,
      wheelPropagation: false,
    });

    $(window).on("resize", function () {
      ps.update();
    });
  });
</script>
<!--===============================================================================================-->
<script src="/user/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
  const mainSearchInput = document.querySelector("#mainsearch-input");

  mainSearchInput.addEventListener("keyup", function (event) {
    const mainSearchQuery = event.target.value;
    console.log(mainSearchQuery + " bnmb");
    // Build query string with updated filter values
    $.ajax({
      url: "/searchItem",
      method: "POST",
      data: {
        value: mainSearchQuery,
      },
      success: function (response) {
        console.log(response);
        $("#product").html(response);
      },
      error: function (xhr, status, error) {
        console.log(error);
      },
    });
  });
</script>

<script>
  function deleteItem(id, size) {
    console.log(id, size);
    swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover this item from your cart!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        fetch("/deleteFromCart", {
          method: "delete",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            id: id,
            size: size,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              viewDelete();
            }
          })
          .catch((error) => {
            swal("Error deleting product from cart: " + error);
          });
      } else {
        swal("Item not deleted!");
      }
    });
  }

  function viewDelete() {
    $.ajax({
      url: "/postFromCart",
      method: "POST",
      success: function (response) {
        console.log(response);
        $("#sideCart").html(response);
        var cartcount = parseInt($("#cartvalue").attr("data-notify")) - 1;
        $(".cartvalue").attr("data-notify", cartcount);
        swal({
          title: "Item deleted from cart!",
          icon: "success",
        });
      },
      error: function (xhr, status, error) {
        console.log(error);
      },
    });
  }
</script>
