<div class="userheading">
  Profile <%= userData.fullName %>
  <div class="main-div">
    <!-- CATEGORY -->
    <div class="category">
      <div class="flex">
        <h1 class="categoryname">
          Email :
          <h3 class="categoryname"><%= userData.email %></h3>
        </h1>
        <!-- HTML code using EJS syntax -->
      </div>
      <div class="flex">
        <h1 class="categoryname">
          Mobile Number :
          <h3 class="categoryname"><%= userData.mobile %></h3>
        </h1>
        <!-- HTML code using EJS syntax -->
      </div>
      <div class="flex">
        <h1 class="categoryname">Full Name :</h1>
        <h3 class="categoryname"><%= userData.fullName %></h3>
        <!-- HTML code using EJS syntax -->
      </div>

      <div class="action-box1">
        <a class="action-text" href="/editprofile">Edit</a>
      </div>
    </div>
  </div>
</div>
