</div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/merchant/vendors/js/vendor.bundle.base.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/merchant/vendors/chart.js/Chart.min.js"></script>
    <script src="/merchant/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/merchant/js/off-canvas.js"></script>
    <script src="/merchant/js/hoverable-collapse.js"></script>
    <script src="/merchant/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/merchant/js/dashboard.js"></script>
    <script src="/merchant/js/todolist.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
