<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="/merchant/images/faces/face1.jpg" alt="profile" />
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2"><%= brandName %></span>
          <span class="text-secondary text-small">Merchant</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/merchant/">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-bs-toggle="collapse"
        href="#Products"
        aria-expanded="false"
        aria-controls="Products"
      >
        <span class="menu-title">Products</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-tshirt-crew menu-icon"></i>
      </a>
      <div class="collapse" id="Products">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/merchant/addproduct">Add Products </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/merchant/productList">View Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/merchant/searchProduct"
              >Search Products</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-bs-toggle="collapse"
        href="#Orders"
        aria-expanded="false"
        aria-controls="Orders"
      >
        <span class="menu-title">Orders</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-cart menu-icon"></i>
      </a>
      <div class="collapse" id="Orders">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/merchant/orderList"> All Orders </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/merchant/orderList/Accepted"
              >Accepted Orders</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/merchant/orderList/placed"
              >Pending Orders</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/merchant/orderList/userCancelled"
              >user Cancelled Orders</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/merchant/orderList/cancelled">
              Cancelled Orders</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/merchant/salesReport">
        <span class="menu-title">Sale Report</span>
        <i class="mdi mdi-cart menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-bs-toggle="collapse"
        href="#Profile"
        aria-expanded="false"
        aria-controls="Profile"
      >
        <span class="menu-title">Profile</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-account menu-icon"></i>
      </a>
      <div class="collapse" id="Profile">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/merchant/profile"> View Profile </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/merchant/editprofile">Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/typography.html"
              >Change Password</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/merchant/logout"
              >Logout <i class="mdi mdi-power menu-icon"></i
            ></a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
