<section
  class="bg-img1 txt-center p-lr-15 p-tb-92"
  style="background-image: url('images/bg-01.jpg')"
>
  <h2 class="ltext-105 cl0 txt-center">About Us</h2>
</section>
<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
  <div class="container">
    <div class="row p-b-148">
      <div class="col-md-7 col-lg-8">
        <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
          <h3 class="mtext-111 cl2 p-b-16">Our Story</h3>
          <p class="stext-113 cl6 p-b-26">
            Welcome to Fillik! We are a team of passionate individuals dedicated
            to providing exceptional products and services. Our goal is to
            exceed customer expectations by delivering high-quality products
            crafted with care and attention to detail. We believe in creating
            memorable experiences that enhance our customers' lives and bring
            them joy. Customer satisfaction is our top priority, and we strive
            to provide exceptional customer service every step of the way.
          </p>
          <p class="stext-113 cl6 p-b-26">
            If you have any questions or need assistance, please visit our store
            located on Kochi, or give us a call 8606875131. We are here to help!
          </p>
        </div>
      </div>

      <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
        <div class="how-bor1">
          <div class="hov-img0">
            <img src="images/about-01.jpg" alt="Our Story" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
        <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
          <h3 class="mtext-111 cl2 p-b-16">Our Mission</h3>

          <p class="stext-113 cl6 p-b-26">
            At Fillik, our mission is to inspire and empower individuals to
            embrace their creativity and unique perspectives. We believe in
            fostering a culture of innovation and collaboration where ideas
            flourish and new possibilities emerge. Our aim is to provide a
            platform for individuals to express their creativity and offer
            products and services that cater to their diverse needs. We strive
            to create an environment where individuals feel encouraged and
            supported in their creative endeavors. Our goal is to make a
            positive impact on the lives of our customers by encouraging
            self-expression and providing the tools and resources they need to
            unleash their creative potential.
          </p>

          <div class="bor16 p-l-29 p-b-9 m-t-22">
            <p class="stext-114 cl6 p-r-40 p-b-11">
              "Creativity is just connecting things. When you ask creative
              people how they did something, they feel a little guilty because
              they didn't really do it, they just saw something. It seemed
              obvious to them after a while."
            </p>

            <span class="stext-111 cl8">- Steve Jobs</span>
          </div>
        </div>
      </div>

      <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
        <div class="how-bor2">
          <div class="hov-img0">
            <img src="images/about-02.jpg" alt="Our Mission" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
