<head>
  <style>
    .payment-options {
      margin: 30px auto;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 500px;
    }

    .payment-options h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .payment-options form {
      border: 1px solid #ccc;
      padding: 20px;
      max-width: 500px;
      border-radius: 5px;
    }

    .payment-options .form-group {
      margin-bottom: 10px;
    }

    .payment-options input[type="radio"] {
      display: none;
    }

    .payment-options label {
      display: inline-block;
      padding: 10px 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 300px;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .payment-options label:hover {
      background-color: #f2f2f2;
    }

    .payment-options input[type="radio"]:checked + label {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff;
    }

    .payment-options button {
      margin-top: 20px;
    }
  </style>
</head>
<div class="wrap-modal4 js-modal4 p-t-60 p-b-20">
  <div class="overlay-modal4 js-hide-modal4"></div>

  <div class="container">
    <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
      <button class="how-pos3 hov3 trans-04 js-hide-modal4">
        <img src="/images/icons/icon-close.png" alt="CLOSE" />
      </button>

      <div class="row d-flex justify-content-center pb-5">
        <div class="col-md-6 grid-margin">
          <div class="card">
            <div class="card-body">
              <div class="payment-options">
                <h2>Select a Payment Option</h2>
                <div class="form-group">
                  <input
                    type="radio"
                    id="cash-on-delivery"
                    name="payment-option"
                    value="COD"
                    checked
                  />
                  <label for="cash-on-delivery"
                    ><img
                      src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/cashapp.svg"
                      alt="Cash on Delivery"
                      height="30"
                      width="30"
                      class="mr-5"
                    />
                    Cash on Delivery</label
                  >
                </div>
                <div class="form-group">
                  <input
                    type="radio"
                    id="paytm"
                    name="payment-option"
                    value="paytm"
                  />
                  <label for="paytm">
                    <img
                      src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/paytm.svg"
                      alt="Paytm"
                      height="30"
                      width="30"
                      class="mr-5"
                    />
                    Paytm</label
                  >
                </div>
                <div class="form-group">
                  <input
                    type="radio"
                    id="paypal"
                    name="payment-option"
                    value="paypal"
                  />
                  <label for="paypal">
                    <img
                      src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/paypal.svg"
                      alt="PayPal"
                      height="30"
                      width="30"
                      class="mr-5"
                    />

                    Paypal</label
                  >
                </div>
                <div class="form-group">
                  <input
                    type="radio"
                    id="razorpay"
                    name="payment-option"
                    value="razorpay"
                  />
                  <label for="razorpay"
                    ><img
                      src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/razorpay.svg"
                      alt="Razorpay"
                      height="30"
                      width="30"
                      class="mr-5"
                    />Razorpay</label
                  >
                </div>
                <div class="form-group">
                  <input
                    type="radio"
                    id="amazon-pay"
                    name="payment-option"
                    value="amazon-pay"
                  />
                  <label for="amazon-pay"
                    ><img
                      src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/amazonpay.svg"
                      alt="Amazon Pay"
                      height="30"
                      width="30"
                      class="mr-5"
                    />Amazon Pay</label
                  >
                </div>
                <div class="form-group">
                  <input
                    type="radio"
                    id="google-pay"
                    name="payment-option"
                    value="google-pay"
                  />
                  <label for="google-pay">
                    <img
                      src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/googlepay.svg"
                      alt="Google Pay"
                      height="30"
                      width="30"
                      class="mr-5"
                    />Google Pay</label
                  >
                </div>
                <button class="btn btn-primary" onclick="checkout()">
                  Proceed
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 offset-xl-1">
          <div class="py-4 d-flex justify-content-end">
            <h6><a href="">Cancel and return to website</a></h6>
          </div>
          <div
            class="rounded d-flex flex-column p-2"
            style="background-color: #f8f9fa"
          >
            <div class="p-2 me-3">
              <h4>Order Recap</h4>
            </div>
            <div class="p-2 d-flex">
              <div class="col-8">Contracted Price</div>
              <div class="ms-auto">$186.76</div>
            </div>
            <div class="p-2 d-flex">
              <div class="col-8">Amount toward deductible</div>
              <div class="ms-auto">$0.00</div>
            </div>
            <div class="p-2 d-flex">
              <div class="col-8">Coinsurance( 0% )</div>
              <div class="ms-auto">+ $0.00</div>
            </div>
            <div class="p-2 d-flex">
              <div class="col-8">Copayment</div>
              <div class="ms-auto">+ $40.00</div>
            </div>
            <div class="border-top px-2 mx-2"></div>
            <div class="p-2 d-flex pt-3">
              <div class="col-8">Total Deductible, Coinsurance, and Copay</div>
              <div class="ms-auto">$40.00</div>
            </div>
            <div class="p-2 d-flex">
              <div class="col-8">
                Maximum out-of-pocket on Insurance Policy (not reached)
              </div>
              <div class="ms-auto">$6500.00</div>
            </div>
            <div class="border-top px-2 mx-2"></div>
            <div class="p-2 d-flex pt-3">
              <div class="col-8">Insurance Responsibility</div>
              <div class="ms-auto"><b>$71.76</b></div>
            </div>
            <div class="p-2 d-flex">
              <div class="col-8">
                Patient Balance
                <span class="fa fa-question-circle text-dark"></span>
              </div>
              <div class="ms-auto"><b>$71.76</b></div>
            </div>
            <div class="border-top px-2 mx-2"></div>
            <div class="p-2 d-flex pt-3">
              <div class="col-8"><b>Total</b></div>
              <div class="ms-auto">
                <b class="text-success">$85.00</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  function checkout() {
    var paymentMethod = document.querySelector(
      'input[name="payment-option"]:checked'
    );
    var addressSelect = document.querySelector("#address");
    var addressId = addressSelect.options[addressSelect.selectedIndex].value;

    // Check that all required fields are filled out
    if (!paymentMethod) {
      swal("Please select payment method");
      return;
    }

    if (!addressId) {
      swal("Please select address");
      return;
    }

    fetch("/addOrder", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        paymentMethod: paymentMethod.value,
        addressId: addressId,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          swal("Order Success");
          location.href = "/paymentSuccess";
        } else if (data.paypal) {
          location.href = data.link;
        } else if (data.result) {
          location.href = "/paymentSuccess";
        } else {
          razorpayPayment(data);
        }
      })
      .catch((error) => {
        swal("Error adding product to cart: " + error);
      });
  }

  function razorpayPayment(order) {
    var options = {
      key: "rzp_test_xAQNIRBNlka1mN", // Enter the Key ID generated from the Dashboard
      amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      currency: "INR",
      name: "Fillik",
      description: "Test Transaction",
      image: "/images/icon.png",
      order_id: order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      handler: function (response) {
        verifyPayment(response, order);
      },
      prefill: {
        name: "Fillik",
        email: "Fillik@gmail.com",
        contact: "8606875131",
      },
      notes: {
        address: "Razorpay Corporate Office",
      },
      theme: {
        color: "#3399cc",
      },
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }

  function verifyPayment(payment, order) {
    fetch("/verifyPayment", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        payment,
        order,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.status) {
          location.href = "/paymentSuccess";
        } else {
          swal("payment failed");
          returncart(payment,order);
        }
      })
      .catch((error) => {
        console.log(error);
      });
  }
  function returncart(payment,order) {
    fetch("/returnCart", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        payment,
        order,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.status) {
          location.href = "/paymentSuccess";
        } else {
          swal("payment failed");
          returncart(payment,order);
        }
      })
      .catch((error) => {
        console.log(error);
      });

  }
  function toggle() {
    const list = document.getElementById("placeorder").classList;
    const list2 = document.getElementById("paypal-button-container").classList;
    list.add("sft");
    list2.remove("sft");
  }

  function toggle1() {
    const list = document.getElementById("placeorder").classList;
    const list2 = document.getElementById("paypal-button-container").classList;
    list2.add("sft");
    list.remove("sft");
  }
</script>
