<body class="rafcolour">
  <div class="container mt-5 mt-md-0">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="box p-4">
          <h1 class="signin-heading mb-4">Merchant Sign In</h1>
          <form id="signin-form" action="/merchant/login" method="post">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="name@example.com"
              />
              <label for="email">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
              />
              <label for="password">Password</label>
            </div>
            <% if(locals.err_msg) { %>
            <div class="alert alert-danger mt-2" timeout="4000" role="alert" }>
              <%=err_msg %>
            </div>
            <% } %>
            <div class="d-grid">
              <button class="btn btn-signin btn-lg mt-3" type="submit">
                Sign In
              </button>
            </div>
          </form>

          <div class="d-flex justify-content-between links">
            <a href="#" class="text-white" id="forget">Forgot Password</a>
            <a href="signup" class="text-white">Create New User</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>
  $(document).ready(function () {
    $.validator.addMethod(
      "email",
      function (value, element) {
        return (
          this.optional(element) ||
          /^([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$/.test(value)
        );
      },
      "Please enter a valid email address"
    );
    $("#signup-form").validate({
      rules: {
        email: {
          required: true,
          email: true,
        },
        password: {
          required: true,
          minlength: 8,
        },
      },
      messages: {
        email: {
          required: "Please enter your email address",
          email: "Please enter a valid email address",
        },
        password: {
          required: "Please enter a password",
          minlength: "Your password must be at least 8 characters long",
        },
      },
      highlight: function (element) {
        $(element).closest(".form-floating").addClass("is-invalid");
      },
      unhighlight: function (element) {
        $(element).closest(".form-floating").removeClass("is-invalid");
      },
      errorElement: "div",
      errorClass: "invalid-feedback",
      errorPlacement: function (error, element) {
        if (element.parent(".input-group").length) {
          error.insertAfter(element.parent());
        } else {
          error.insertAfter(element);
        }
      },
    });
  });
</script>
