<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span>
              <div class="badge badge-danger">new</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#merchants" aria-expanded="false" aria-controls="merchants">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Merchants</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="merchants">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/merchantList">All Merchants</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/merchantBlockedList">blocked Merchant</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/merchantActiveList">Active Merchant</a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="/admin/search/:merchantId">Search Merchants</a></li> -->
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">
              <i class="typcn typcn-film menu-icon"></i>
              <span class="menu-title">Users</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="users">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/userList">All Users</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/userBlockList">blocked Users</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/userActiveList">Active Users</a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="/admin/search/:userId">Search User</a></li> -->
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#products" aria-expanded="false" aria-controls="products">
              <i class="typcn typcn-chart-pie-outline menu-icon"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="products">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/productList">All Products</a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Search Products</a></li> -->
                <li class="nav-item"> <a class="nav-link" href="/admin/productList/true">Active Products</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/productList/false">Blocked Products</a></li>
              </ul>
            </div>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#orders" aria-expanded="false" aria-controls="orders">
              <i class="typcn typcn-chart-pie-outline menu-icon"></i>
              <span class="menu-title">Orders</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="orders">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/orderList">All Orders</a></li> 
                <!-- <li class="nav-item"> <a class="nav-link" href="/admin/searchOrder">Search Orders</a></li> 
                 <li class="nav-item"> <a class="nav-link" href="/admin/pendingOrderList">Pending Orders</a></li>  -->
                <!-- <li class="nav-item"> <a class="nav-link" href="/admin/orderList/usercancel">Cancelled Orders</a></li> 
                <li class="nav-item"> <a class="nav-link" href="/admin/orderList/Completed">Success Orders</a></li> 
                <li class="nav-item"> <a class="nav-link" href="/admin/orderList/Returned">Returned Orders</a></li>   -->
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#coupons" aria-expanded="false" aria-controls="coupons">
              <i class="typcn typcn-th-small-outline menu-icon"></i>
              <span class="menu-title">Coupons</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="coupons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/addcoupon">Add Coupons</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/viewcoupon">View Coupons</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#category" aria-expanded="false" aria-controls="category">
              <i class="typcn typcn-compass menu-icon"></i>
              <span class="menu-title">Category</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="category">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/addCategory">Add Category</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/viewCategory">View Category</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#banner" aria-expanded="false" aria-controls="banner">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">Banners</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="banner">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/addBanner">Add Banners</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/viewBanner">View Banners</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#report" aria-expanded="false" aria-controls="report">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">Sale Report</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="report">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/salesMerchantReport">Sales Merchant Report</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/salesOrderReport">Sales Order Report</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>